<h2>Afficher un contact</h2>
<div class="row">
    <div class="col-sm-2">
        <b>Prénom</b>
    </div>
    <div class="col-sm-10">
        {{contact.prenom}}
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <b>Nom</b>
    </div>
    <div class="col-sm-10">
        {{contact.nom}}
    </div>
</div>
<div class="row" ng-if="contact.email">
    <div class="col-sm-2">
        <b>Email</b>
    </div>
    <div class="col-sm-10">
        {{contact.email}}
    </div>
</div>
<div class="row">
    <div class="col-sm-2" ng-if="contact.telephone">
        <b>Téléphone
        </b>
    </div>
    <div class="col-sm-10">
        {{contact.telephone}}
    </div>
</div>